Repository microsoft/superbenchmark, pull requests merged in 2021-04, with the labels that each got.

#32 Benchmarks: Code Revision - Revise result process interface and add result checking
  superbench/benchmarks/docker_benchmarks/docker_base.py
  superbench/benchmarks/micro_benchmarks/micro_base.py
  superbench/benchmarks/model_benchmarks/model_base.py
Labels: Benchmarks, enhancement

#33 Benchmarks: Code Revision - Revise BenchmarkRegistry interfaces for integration with executor.
  examples/benchmarks/pytorch_bert_large.py
  superbench/benchmarks/base.py
  superbench/benchmarks/registry.py
  tests/benchmarks/model_benchmarks/test_model_base.py
  tests/benchmarks/model_benchmarks/test_pytorch_base.py
  tests/benchmarks/model_benchmarks/test_pytorch_bert.py
  tests/benchmarks/test_registry.py
Labels: Benchmarks, enhancement

#35 Benchmarks: Fix Bug - Fix bug when validate the raw data format.
  superbench/benchmarks/base.py
Labels: benchmarks, bug

#37 Benchmarks: Fix Bug - Specify the framework 'pytorch' for matmul example.
  examples/benchmarks/matmul.py
Labels: benchmarks, bug

#34 Executor: Init - Add superbench executor class
  superbench/config/default.yaml
  superbench/executor/__init__.py
  superbench/executor/executor.py
  tests/executor/test_executor.py
Labels: executor

#40 Benchmarks: Add Feature - Add _post_process() interface.
  superbench/benchmarks/base.py
  superbench/benchmarks/return_code.py
Labels: benchmarks, enhancement

#45 Benchmarks: Add Feature - Add _post_process() implementation in pytorch_base.py.
  superbench/benchmarks/model_benchmarks/pytorch_base.py
Labels: benchmarks

#49 Benchmarks: Code Revision - Change the condition when execute self.__matmul_nosharding().
  superbench/benchmarks/micro_benchmarks/sharding_matmul.py
Labels: benchmarks, micro-benchmarks

#47 Benchmarks: Code Revision - Remove unused code in sharding_matmul.py.
  superbench/benchmarks/micro_benchmarks/sharding_matmul.py
Labels: benchmarks, micro-benchmarks

#48 Benchmarks: Code Revision - Rename metric name of sharding-matmul.
  superbench/benchmarks/micro_benchmarks/sharding_matmul.py
Labels: benchmarks, micro-benchmarks

#42 Benchmarks: Revise Test - Skip tests and remove useless tests
  tests/benchmarks/model_benchmarks/test_pytorch_base.py
  tests/benchmarks/model_benchmarks/test_pytorch_bert.py
  tests/helper/decorator.py
  tests/test_example.py
Labels: benchmarks, test

#38 Runner: Init - Add superbench runner class
  superbench/runner/__init__.py
  superbench/runner/runner.py
  tests/runner/test_runner.py
Labels: runner

#43 Setup: Add Feature - Add CUDA dockerfile for superbench
  dockerfile/cuda11.1.1.dockerfile
  setup.py
Labels: containers

#46 Benchmarks: Add Feature - Add _post_process() implementation in sharding_matmul.py.
  superbench/benchmarks/micro_benchmarks/sharding_matmul.py
Labels: benchmarks, micro-benchmarks

#26 CLI - Integration with Executor and Runner
  setup.py
  superbench/cli/_handler.py
  superbench/cli/sb_exec.py
  superbench/cli/sb_run.py
  superbench/executor/executor.py
  tests/cli/test_sb.py
Labels: CLI

#44 CI/CD: Add Feature - Add azure pipelines for CUDA tests
  .azure-pipelines/cuda-unit-test.yml
Labels: CI/CD

#50 Benchmarks: Code Revision - Unify arguments format by using whitespace.
  examples/benchmarks/matmul.py
  examples/benchmarks/pytorch_bert_large.py
  examples/benchmarks/sharding_matmul.py
  tests/benchmarks/model_benchmarks/test_model_base.py
  tests/benchmarks/model_benchmarks/test_pytorch_base.py
  tests/benchmarks/model_benchmarks/test_pytorch_bert.py
  tests/benchmarks/test_context.py
  tests/benchmarks/test_registry.py
Labels: benchmarks

#41 Benchmarks: Add Test - Add tests for matmul and sharding-matmul benchmarks.
  test.dockerfile
  tests/benchmarks/__init__.py
  tests/benchmarks/micro_benchmarks/test_matmul.py
  tests/benchmarks/micro_benchmarks/test_sharding_matmul.py
  tests/benchmarks/utils.py
Labels: benchmarks, test

#51 Executor - Fix issues when executing benchmarks
  dockerfile/cuda11.1.1.dockerfile
  superbench/config/default.yaml
  superbench/executor/executor.py
  tests/executor/test_executor.py
Labels: executor

#53 CI/CD - Fix issues in codecov
  .azure-pipelines/cuda-unit-test.yml
  .codecov.yml
  azure-pipelines.yml
  codecov.yml
Labels: CI/CD

#52 Docs - Update README for public view
  README.md
Labels: documentation

#54 Benchmarks: Revise Test - Revise benchmark test util to support pytorch multi-GPU test
  tests/__init__.py
  tests/benchmarks/micro_benchmarks/test_sharding_matmul.py
  tests/benchmarks/utils.py
Labels: test

#56 Benchmarks: Add Feature - Add interface to get all predefine parameters of all benchmarks.
  superbench/benchmarks/base.py
  superbench/benchmarks/registry.py
  tests/benchmarks/test_registry.py
Labels: benchmarks, enhancement

#57 Benchmarks: Add Benchmark - Add GPT2 model benchmark.
  examples/benchmarks/pytorch_gpt2_large.py
  superbench/benchmarks/model_benchmarks/__init__.py
  superbench/benchmarks/model_benchmarks/pytorch_gpt2.py
  tests/benchmarks/model_benchmarks/test_pytorch_gpt2.py
Labels: benchmarks, model-benchmarks

#58 Benchmarks: Code Revision - Fix some issue for BERT benchmark.
  examples/benchmarks/pytorch_bert_large.py
  superbench/benchmarks/model_benchmarks/pytorch_bert.py
  tests/benchmarks/model_benchmarks/test_pytorch_bert.py
Labels: benchmarks, model-benchmarks

#59 Benchmarks: Add Benchmark - Add CNN model benchmarks.
  examples/benchmarks/pytorch_cnn_resnet101.py
  superbench/benchmarks/model_benchmarks/__init__.py
  superbench/benchmarks/model_benchmarks/pytorch_cnn.py
  tests/benchmarks/model_benchmarks/test_pytorch_cnn.py
Labels: benchmarks, model-benchmarks

#63 Benchmarks: Fix Bug - Fix dataset precision for CNN and LSTM benchmarks.
  superbench/benchmarks/model_benchmarks/pytorch_cnn.py
  superbench/benchmarks/model_benchmarks/pytorch_lstm.py
Labels: bug, model-benchmarks

#64 Benchmarks: Fix Bug - Increase default sample count for benchmarking.
  superbench/benchmarks/model_benchmarks/model_base.py
Labels: bug, model-benchmarks

#65 Benchmarks: Code Revision - Revise the settings of CNN example models.
  examples/benchmarks/pytorch_cnn.py
Labels: benchmarks
