Repository microsoft/superbenchmark, pull requests merged in 2021-06, with the labels that each got.

#78 Benchmarks: Add benchmark - add source code of cudnn function micro benchmark
  superbench/benchmarks/micro_benchmarks/cudnn_function/CMakeLists.txt
  superbench/benchmarks/micro_benchmarks/cudnn_function/convolution_backward_data.h
  superbench/benchmarks/micro_benchmarks/cudnn_function/convolution_backward_filter.h
  superbench/benchmarks/micro_benchmarks/cudnn_function/convolution_forward.h
  superbench/benchmarks/micro_benchmarks/cudnn_function/cudnn_config.h
  superbench/benchmarks/micro_benchmarks/cudnn_function/cudnn_function.h
  superbench/benchmarks/micro_benchmarks/cudnn_function/cudnn_function_helper.h
  superbench/benchmarks/micro_benchmarks/cudnn_function/cudnn_helper.cpp
  superbench/benchmarks/micro_benchmarks/cudnn_function/cudnn_helper.h
  superbench/benchmarks/micro_benchmarks/cudnn_function/cudnn_test.cpp
Labels: micro-benchmarks

#90 Benchmarks: Code Revision - add error return code for cublas microbenchmark
  superbench/benchmarks/micro_benchmarks/cublas_function.py
Labels: micro-benchmarks

#89 Benchmarks: Add benchmark - add micro benchmark for cudnn test
  examples/benchmarks/cudnn_function.py
  superbench/benchmarks/micro_benchmarks/__init__.py
  superbench/benchmarks/micro_benchmarks/cudnn_function.py
  tests/benchmarks/micro_benchmarks/test_cudnn_function.py
Labels: micro-benchmarks

#91 Benchmarks: Add Feature - Add nvml package to provide python interfaces of nvidia.
  .azure-pipelines/cuda-unit-test.yml
  dockerfile/cuda11.1.1.dockerfile
  setup.py
  superbench/common/utils/__init__.py
  superbench/common/utils/nvidia_helper.py
Labels: benchmarks

#87 Benchmarks: Add Benchmark - Add FLOPs performance benchmark for cuda.
  examples/benchmarks/gemm_flops_cuda_performance.py
  superbench/benchmarks/micro_benchmarks/__init__.py
  superbench/benchmarks/micro_benchmarks/gemm_flops_performance.py
  superbench/benchmarks/return_code.py
  tests/benchmarks/micro_benchmarks/test_gemm_flops_performance.py
Labels: micro-benchmarks

#92 Benchmarks: Code Revision - Change default shape of sharding-matmul.
  superbench/benchmarks/micro_benchmarks/sharding_matmul.py
  tests/benchmarks/test_registry.py
Labels: benchmarks, micro-benchmarks

#88 Runner - Support local mode in runner
  setup.py
  superbench/config/default.yaml
  superbench/runner/runner.py
  tests/runner/test_runner.py
Labels: runner

#94 Benchmarks: Fix Bug - Fix return code overwrite issue
  superbench/benchmarks/model_benchmarks/model_base.py
  superbench/benchmarks/return_code.py
  tests/benchmarks/model_benchmarks/test_model_base.py
Labels: bug, model-benchmarks

#93 Benchmarks: Fix Bug - Fix OOM issue when run pytorch models sequentially.
  superbench/benchmarks/base.py
  superbench/benchmarks/model_benchmarks/pytorch_base.py
  superbench/benchmarks/return_code.py
  tests/benchmarks/model_benchmarks/test_pytorch_base.py
Labels: bug, model-benchmarks

#100 Benchmarks: Add Feature - Add DistributedImpl and DistributedBackend arguments for micro benchmark.
  superbench/benchmarks/__init__.py
  superbench/benchmarks/context.py
  superbench/benchmarks/micro_benchmarks/computation_communication_overlap.py
  superbench/benchmarks/micro_benchmarks/sharding_matmul.py
  superbench/benchmarks/model_benchmarks/model_base.py
Labels: micro-benchmarks

#101 Docs - Update SuperBench documents
  .editorconfig
  README.md
  docs/assets/bar.png
  docs/assets/superbench_structure.png
  docs/benchmarks/micro-benchmarks.md
  docs/benchmarks/model-benchmarks.md
  docs/cli.md
  docs/developer-guides/contributing.md
  docs/developer-guides/development.md
  docs/getting-started/configuration.md
  docs/getting-started/installation.md
  docs/getting-started/run-superbench.md
  docs/introduction.md
Labels: documentation

#102 Website - Initialize SuperBench website
  .github/workflows/gh-pages.yml
  website/.gitignore
  website/README.md
  website/babel.config.js
  website/blog/2021-06-24-introduce-superbench.md
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/sidebars.js
  website/src/components/HomepageHeader.js
  website/src/components/HomepageHeader.module.css
  website/src/css/index.css
  website/src/pages/index.js
  website/static/.nojekyll
  website/static/img/favicon.ico
  website/static/img/logo.svg
Labels: website

#104 Bug bash - Fix ambiguous type check in executor.
  superbench/executor/executor.py
Labels: bug, executor

#106 Benchmarks: Code Revision - Replace torch.optim.AdamW with transformers.AdamW.
  superbench/benchmarks/model_benchmarks/pytorch_base.py
  tests/benchmarks/model_benchmarks/test_pytorch_base.py
Labels: model-benchmarks

#103 Benchmarks: Add Configuration - Add validation config file for azure NDv4.
  superbench/benchmarks/model_benchmarks/model_base.py
  superbench/config/azure_ndv4.yaml
Labels: benchmarks

#105 Benchmarks: Fix Bug - Fix gemm kernel bug for nvidia v100.
  superbench/benchmarks/micro_benchmarks/gemm_flops_performance.py
  tests/benchmarks/micro_benchmarks/test_gemm_flops_performance.py
Labels: bug, micro-benchmarks

#109 Benchmarks: Fix Bug - Fix typo in gemm-flops benchmark.
  superbench/benchmarks/micro_benchmarks/gemm_flops_performance.py
Labels: bug, micro-benchmarks

#107 Docs - Release Note and Introduction
  docs/assets/architecture.png
  docs/assets/bar.png
  docs/assets/benchmark_package.png
  docs/assets/executor_workflow.png
  docs/assets/superbench_structure.png
  docs/benchmarks/micro-benchmarks.md
  docs/benchmarks/model-benchmarks.md
  docs/introduction.md
  website/blog/2021-06-24-introduce-superbench.md
  website/blog/2021-06-28-release-0-2.md
  website/sidebars.js
Labels: documentation
