Repository microsoft/superbenchmark, pull requests merged in 2021-09, with the labels that each got.

#180 Benchmarks: Docker Benchmarks - Setup Docker-in-Docker environment
  dockerfile/cuda11.1.1.dockerfile
  dockerfile/rocm4.0-pytorch1.7.0.dockerfile
  dockerfile/rocm4.2-pytorch1.7.0.dockerfile
  superbench/runner/playbooks/deploy.yaml
Labels: benchmarks, docker-benchmarks

#181 Dockerfile: Add Package - Install openmpi for ROCm images
  dockerfile/cuda11.1.1.dockerfile
  dockerfile/rocm4.0-pytorch1.7.0.dockerfile
  dockerfile/rocm4.2-pytorch1.7.0.dockerfile
Labels: containers, ROCm

#179 Benchmarks: Code Revision - revise the DockerBenchmark base class
  superbench/benchmarks/docker_benchmarks/docker_base.py
  superbench/benchmarks/return_code.py
  tests/benchmarks/docker_benchmarks/test_docker_base.py
Labels: benchmarks, docker-benchmarks

#185 Runner - Fix inventory issue in ansible_runner
  superbench/runner/ansible.py
  tests/runner/test_ansible.py
Labels: bug, runner

#184 Docs - Support docsearch in website
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
Labels: documentation

#176 Benchmarks: Add Configuration - Add microbenchmark in the validation config file for HPE (AMD MI00)
  superbench/config/amd_mi100_hpe.yaml
Labels: benchmarks, ROCm

#188 Benchmarks: Fix bug - Fix missing key error in disk performance benchmark
  superbench/benchmarks/micro_benchmarks/disk_performance.py
Labels: bug, benchmarks, micro-benchmarks

#183 Dockerfile - Fix ulimit nofile in Docker images
  dockerfile/cuda11.1.1.dockerfile
  dockerfile/rocm4.0-pytorch1.7.0.dockerfile
  dockerfile/rocm4.2-pytorch1.7.0.dockerfile
Labels: bug, containers

#189 Benchmarks: Code Revision - Revise arguments of nccl/rccl to support mpi mode and rename metric
  superbench/benchmarks/micro_benchmarks/cuda_nccl_bw_performance.py
  tests/benchmarks/micro_benchmarks/test_cuda_nccl_bw_performance.py
Labels: benchmarks, micro-benchmarks

#160 Tools: Add Feature - Add script to generate system config info.
  setup.py
  superbench/tools/__init__.py
  superbench/tools/system_info.py
Labels: tool

#190 Bug - Fix Bug : fix bug of error param in hpe MI100 config
  superbench/config/amd_mi100_hpe.yaml
Labels: bug, ROCm

#195 Runner: Code Revision - Revise 'docker run' in sb deploy due to base image may running endpoint/cmd under /root
  superbench/runner/playbooks/deploy.yaml
Labels: bug

#198 Bug: Fix Bug - Add barrier before 'destroy_process_group' in model benchmarks
  superbench/benchmarks/model_benchmarks/pytorch_base.py
Labels: bug, benchmarks, model-benchmarks

#193 Bug: Fix bug - fix bug of hipBusBandwidth build
  third_party/Makefile
Labels: bug, ROCm

#194 CI/CD - Add ROCm image build in GitHub Actions
  .github/workflows/build-image.yml
Labels: CI/CD, ROCm

#196 Benchmarks: Code Revision - Revise CMake files for microbenchmarks.
  superbench/benchmarks/build.sh
  superbench/benchmarks/micro_benchmarks/cublas_function/CMakeLists.txt
  superbench/benchmarks/micro_benchmarks/cuda_common.cmake
  superbench/benchmarks/micro_benchmarks/cudnn_function/CMakeLists.txt
  superbench/benchmarks/micro_benchmarks/gpu_sm_copy_performance/CMakeLists.txt
  superbench/benchmarks/micro_benchmarks/kernel_launch_overhead/CMakeLists.txt
Labels: bug, benchmarks

#199 CLI - Integrate system info for node
  superbench/cli/_commands.py
  superbench/cli/_node_handler.py
  tests/cli/test_sb.py
Labels: CLI

#201 Bug - Fix torch.distributed command for single node
  superbench/runner/runner.py
  tests/runner/test_runner.py
Labels: bug, runner

#202 CI/CD - Push images in GitHub Action
  .github/workflows/build-image.yml
  dockerfile/rocm4.0-pytorch1.7.0.dockerfile
Labels: CI/CD

#200 Bug: Fix bug - Fix function naming issue in system info
  superbench/tools/system_info.py
  tests/cli/test_sb.py
Labels: bug, tool

#204 Benchmark: Fix Bug - fix error message of communication-computation-overlap
  superbench/benchmarks/micro_benchmarks/computation_communication_overlap.py
Labels: bug, benchmarks

#205 CI/CD - Fix bug in build image for push event
  .github/workflows/build-image.yml
Labels: bug, CI/CD

#203 Benchmarks: Fix Bug - Fix wrong parameters for gpu-sm-copy-bw in configuration examples
  superbench/config/amd_mi100_hpe.yaml
  superbench/config/azure_ndv4.yaml
  superbench/config/default.yaml
Labels: bug, benchmarks

#211 CI/CD - Update GitHub Action VM
  .github/workflows/lint.yml
Labels: CI/CD

#208 Benchmarks: Update - Update benchmarks in configuration file
  superbench/config/amd_mi100_hpe.yaml
  superbench/config/amd_mi100_z53.yaml
  superbench/config/azure_ndv4.yaml
  superbench/config/default.yaml
Labels: bug

#209 Docs - Upgrade version and release note
  README.md
  docs/developer-guides/using-docker.mdx
  docs/getting-started/installation.md
  docs/getting-started/run-superbench.md
  docs/superbench-config.mdx
  docs/tutorial/container-images.mdx
  superbench/__init__.py
  superbench/config/amd_mi100_hpe.yaml
  superbench/config/amd_mi100_z53.yaml
  superbench/config/azure_ndv4.yaml
  superbench/config/default.yaml
  website/blog/2021-09-22-release-0-3.md
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
Labels: documentation, release

#214 Benchmarks: Fix bug - Fix bug when set force_fp32 option.
  superbench/benchmarks/model_benchmarks/pytorch_base.py
Labels: bug, benchmarks
