Repository microsoft/superbenchmark, pull requests merged in 2021-07, with the labels that each got.

#110 CLI - Support custom output directory
  docs/cli.md
  superbench/cli/_commands.py
  superbench/cli/_handler.py
  superbench/common/utils/__init__.py
  superbench/common/utils/file_handler.py
  superbench/executor/executor.py
  superbench/runner/runner.py
  tests/executor/test_executor.py
  tests/runner/test_runner.py
Labels: CLI

#108 CLI - Support host-list for deploy and run commands
  docs/cli.md
  superbench/cli/_help.py
  superbench/runner/ansible.py
Labels: CLI

#116 Runner - Fetch benchmarks results on all nodes
  Makefile
  superbench/common/utils/__init__.py
  superbench/common/utils/file_handler.py
  superbench/executor/executor.py
  superbench/runner/playbooks/fetch_results.yaml
  superbench/runner/runner.py
  tests/runner/test_runner.py
Labels: runner

#111 Docs - Update README and version for v0.2.0 release
  README.md
  docs/assets/architecture.png
  docs/assets/architecture.svg
  docs/getting-started/configuration.md
  docs/getting-started/installation.md
  docs/getting-started/run-superbench.md
  docs/introduction.md
  superbench/__init__.py
  superbench/config/azure_ndv4.yaml
  superbench/config/default.yaml
  website/blog/2021-06-24-introduce-superbench.md
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
Labels: documentation

#117 Bug Fix - Fix race condition issue for multi ranks
  superbench/common/utils/file_handler.py
  superbench/executor/executor.py
  tests/executor/test_executor.py
Labels: bug

#119 Runner & Executor - Support AMD GPU
  superbench/common/devices/__init__.py
  superbench/common/devices/gpu.py
  superbench/executor/executor.py
  superbench/runner/playbooks/deploy.yaml
  superbench/runner/runner.py
  tests/ansible/tests/test_deploy.yaml
  tests/executor/test_executor.py
Labels: executor, runner

#121 Benchmarks: Add Configuration - Add validation config file for AMD MI100
  superbench/config/amd_mi100_z53.yaml
Labels: benchmarks

#122 CI/CD - Update pipeline for release branch
  .azure-pipelines/ansible-integration-test.yml
  .azure-pipelines/cpu-unit-test.yml
  .azure-pipelines/cuda-unit-test.yml
  .codecov.yml
  .github/workflows/build-image.yml
  .github/workflows/gh-pages.yml
  .github/workflows/lint.yml
Labels: CI/CD

#120 Bug Fix - Fix bug when convert bool config to store_true argument.
  superbench/executor/executor.py
Labels: bug, executor

#124 Bug bash - Merge fix from release/0.2 to main
  .azure-pipelines/ansible-integration-test.yml
  .azure-pipelines/cpu-unit-test.yml
  .azure-pipelines/cuda-unit-test.yml
  .codecov.yml
  .github/workflows/build-image.yml
  .github/workflows/gh-pages.yml
  .github/workflows/lint.yml
  superbench/common/utils/file_handler.py
  superbench/executor/executor.py
  tests/executor/test_executor.py
Labels: bug

#118 Utils: Code Revision - Update network common utils
  superbench/common/utils/__init__.py
  superbench/common/utils/network.py
  tests/benchmarks/micro_benchmarks/test_computation_communication_overlap.py
  tests/benchmarks/micro_benchmarks/test_sharding_matmul.py
  tests/benchmarks/utils.py
Labels: utils

#114 Benchmarks: Add Benchmark - Add memory bandwidth benchmark for cuda.
  .gitmodules
  examples/benchmarks/cuda_memory_bw_performance.py
  superbench/benchmarks/micro_benchmarks/__init__.py
  superbench/benchmarks/micro_benchmarks/cuda_memory_bw_performance.py
  superbench/config/default.yaml
  tests/benchmarks/micro_benchmarks/test_cuda_memory_bw_performance.py
  third_party/Makefile
Labels: benchmarks, micro-benchmarks

#130 Docs - Add release process doc
  docs/release-process.md
Labels: documentation

#131 Docs - Add result contributing rules
  docs/developer-guides/contributing.md
Labels: documentation

#132 Benchmarks: Add Benchmark - Add disk performance benchmark
  examples/benchmarks/disk_performance.py
  superbench/benchmarks/micro_benchmarks/__init__.py
  superbench/benchmarks/micro_benchmarks/disk_performance.py
  superbench/config/default.yaml
  tests/benchmarks/micro_benchmarks/test_disk_performance.py
Labels: benchmarks, micro-benchmarks

#112 Benchmarks: Add Benchmark - Add IB Loopback performance benchmark.
  examples/benchmarks/ib_loopback_performance.py
  superbench/benchmarks/micro_benchmarks/__init__.py
  superbench/benchmarks/micro_benchmarks/ib_loopback_performance.py
  superbench/benchmarks/return_code.py
  superbench/config/default.yaml
  tests/benchmarks/micro_benchmarks/test_ib_loopback_performance.py
Labels: benchmarks, micro-benchmarks

#113 Benchmarks: Add Benchmark - Add NCCL performance benchmark.
  examples/benchmarks/cuda_nccl_bw_performance.py
  superbench/benchmarks/micro_benchmarks/__init__.py
  superbench/benchmarks/micro_benchmarks/cuda_nccl_bw_performance.py
  superbench/config/default.yaml
  tests/benchmarks/micro_benchmarks/test_cuda_nccl_bw_performance.py
Labels: benchmarks, micro-benchmarks

#134 Benchmarks: Fix Bug - Fix bug of VGG models failed on A100 GPU with batch_size=128
  superbench/benchmarks/model_benchmarks/pytorch_base.py
Labels: bug, model-benchmarks

#135 Bug Fix - Fix Ansible connection issue in localhost
  superbench/runner/playbooks/deploy.yaml
Labels: bug

#137 Benchmarks: Build Pipeline - Support rocm cmake build
  superbench/benchmarks/micro_benchmarks/rocm_common.cmake
Labels: benchmarks

#136 Benchmarks: Add Benchmark - Add the source code of rocm kernel launch overhead benchmark.
  superbench/benchmarks/micro_benchmarks/kernel_launch_overhead/CMakeLists.txt
  superbench/benchmarks/micro_benchmarks/kernel_launch_overhead/kernel_launch.cu
Labels: benchmarks, micro-benchmarks

#141 Release - Update version 0.2.1 in packages and docs
  README.md
  docs/getting-started/installation.md
  docs/getting-started/run-superbench.md
  superbench/__init__.py
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
Labels: documentation

#143 Benchmarks: Add Benchmark - Revise and add rccl microbenchmark for rocm.
  examples/benchmarks/nccl_bw_performance.py
  superbench/benchmarks/micro_benchmarks/cuda_nccl_bw_performance.py
Labels: ROCm, benchmarks, micro-benchmarks
