Repository microsoft/superbenchmark, pull requests merged in 2021-08, with the labels that each got.

#125 Docs - Add design document
  docs/assets/benchmark-structure.png
  docs/assets/benchmark_package.png
  docs/assets/docker-benchmark-process.svg
  docs/assets/executor-pipeline.png
  docs/assets/executor_workflow.png
  docs/assets/micro-benchmark-process-native.svg
  docs/assets/micro-benchmark-process-python.svg
  docs/assets/model-inference-process.svg
  docs/assets/model-training-process.svg
  docs/design-docs/benchmarks.md
  docs/design-docs/overview.md
  website/blog/2021-06-24-introduce-superbench.md
  website/sidebars.js
Labels: documentation

#144 Benchmarks: Build Pipeline - Add rocBLAS building logic in third_party
  third_party/Makefile
Labels: ROCm, benchmarks, micro-benchmarks

#147 Benchmarks: Add Feature - Add reduce function support for output summary.
  superbench/benchmarks/__init__.py
  superbench/benchmarks/micro_benchmarks/micro_base.py
  superbench/benchmarks/reducer.py
  superbench/benchmarks/result.py
  tests/benchmarks/model_benchmarks/test_model_base.py
  tests/benchmarks/test_registry.py
  tests/benchmarks/test_result.py
Labels: benchmarks, enhancement

#148 Benchmarks: Code Revision - Calculate average value by using statistics module.
  superbench/benchmarks/micro_benchmarks/cublas_function.py
  superbench/benchmarks/micro_benchmarks/micro_base.py
  superbench/benchmarks/micro_benchmarks/sharding_matmul.py
  superbench/benchmarks/model_benchmarks/model_base.py
  tests/benchmarks/model_benchmarks/test_model_base.py
Labels: benchmarks

#149 Benchmarks: Add Feature - Set reduce type for current benchmarks' metrics.
  superbench/benchmarks/micro_benchmarks/sharding_matmul.py
  superbench/benchmarks/model_benchmarks/model_base.py
  tests/benchmarks/model_benchmarks/test_model_base.py
Labels: benchmarks

#150 Benchmarks: Doc Revision - Add ReduceType into benchmarks doc
  docs/design-docs/benchmarks.md
Labels: documentation

#154 Docs - Add docs for Docker container and image
  docs/cli.md
  docs/developer-guides/development.md
  docs/developer-guides/using-docker.mdx
  docs/tutorial/container-images.mdx
  website/sidebars.js
Labels: documentation

#156 Benchmarks: Code Revision - change 'reduce' to 'reduce_op'
  docs/design-docs/benchmarks.md
  superbench/benchmarks/result.py
  tests/benchmarks/model_benchmarks/test_model_base.py
  tests/benchmarks/test_registry.py
  tests/benchmarks/test_result.py
Labels: documentation, benchmarks

#155 Docs - Add config and docs for development experience
  .devcontainer/devcontainer.json
  .devcontainer/post-create-command.sh
  .editorconfig
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  docs/developer-guides/development.md
Labels: documentation

#146 Runner - Support mpi mode
  superbench/runner/ansible.py
  superbench/runner/playbooks/check_env.yaml
  superbench/runner/runner.py
  superbench/runner/templates/ssh_config.j2
  tests/runner/test_ansible.py
  tests/runner/test_runner.py
Labels: runner

#151 Benchmarks: Build Pipeline - Add build logic of hipBusBandwidth in third_party
  third_party/Makefile
Labels: benchmarks, micro-benchmarks, ROCm

#157 Runner: Add Feature - Generate summarized output files.
  setup.py
  superbench/benchmarks/__init__.py
  superbench/executor/executor.py
  superbench/runner/runner.py
  tests/runner/test_runner.py
Labels: runner

#161 Benchmarks: Revise Benchmark - Add readwrite I/O pattern
  superbench/benchmarks/micro_benchmarks/disk_performance.py
  tests/benchmarks/micro_benchmarks/test_disk_performance.py
Labels: benchmarks, micro-benchmarks

#165 Benchmarks: Code Revision - Extract base class for gemm flops microbenchmark
  superbench/benchmarks/micro_benchmarks/__init__.py
  superbench/benchmarks/micro_benchmarks/cuda_gemm_flops_performance.py
  superbench/benchmarks/micro_benchmarks/gemm_flops_performance_base.py
  tests/benchmarks/micro_benchmarks/test_cuda_gemm_flops_performance.py
  tests/benchmarks/micro_benchmarks/test_gemm_flops_performance_base.py
Labels: benchmarks, micro-benchmarks

#152 Benchmarks: Add Benchmark - Add gemm flops microbenchmark for amd
  examples/benchmarks/rocm_gemm_flops_performance.py
  superbench/benchmarks/micro_benchmarks/__init__.py
  superbench/benchmarks/micro_benchmarks/rocm_gemm_flops_performance.py
  tests/benchmarks/micro_benchmarks/test_rocm_gemm_flops_performance.py
Labels: benchmarks, micro-benchmarks, ROCm

#173 Benchmarks: Fix Bug - Remove ib device port info in command to fix bug of ib loopback
  superbench/benchmarks/micro_benchmarks/ib_loopback_performance.py
Labels: bug, micro-benchmarks

#158 Docs: Add document for SuperBench YAML config
  docs/superbench-config.mdx
  website/sidebars.js
Labels: documentation

#174 Docs: Revision - Revise results contributing rule
  docs/developer-guides/contributing.md
Labels: documentation

#169 Benchmarks: Add Benchmark - Add GPU SM copy benchmark
  examples/benchmarks/gpu_sm_copy_bw_performance.py
  superbench/benchmarks/micro_benchmarks/__init__.py
  superbench/benchmarks/micro_benchmarks/gpu_sm_copy_bw_performance.py
  superbench/config/default.yaml
  tests/benchmarks/micro_benchmarks/test_gpu_sm_copy_bw_performance.py
Labels: benchmarks, micro-benchmarks, ROCm

#178 Benchmarks: Code Revision - Revise subprocess invoke
  superbench/benchmarks/micro_benchmarks/micro_base.py
  superbench/common/utils/__init__.py
  superbench/common/utils/process.py
Labels: benchmarks

#177 Setup: Revision - Revise torch extra_require
  setup.py
Labels: CI/CD

#164 Dockerfile: Add dockerfile - Add rocm 4.0 and 4.2 dockerfile with pytorch1.7.0
  dockerfile/rocm4.0-pytorch1.7.0.dockerfile
  dockerfile/rocm4.2-pytorch1.7.0.dockerfile
Labels: CI/CD, containers, ROCm

#175 Benchmarks: Code Revision - Revise metric name generation and default config for disk performance benchmark
  superbench/benchmarks/micro_benchmarks/disk_performance.py
  superbench/config/default.yaml
  tests/benchmarks/micro_benchmarks/test_disk_performance.py
Labels: bug, benchmarks, micro-benchmarks

#172 Benchmarks: Build Pipeline - Support rocblas building in rocm4.0_ubuntu18.04_py3.6_pytorch_1.7.0 docker
  third_party/Makefile
Labels: benchmarks, micro-benchmarks, ROCm
