Repository microsoft/superbenchmark, pull requests merged in 2021-05, with the labels that each got.

#66 Benchmarks: Code Revision - Revise MicroBenchmark class to be more flexible.
  superbench/benchmarks/micro_benchmarks/__init__.py
  superbench/benchmarks/micro_benchmarks/micro_base.py
  superbench/benchmarks/return_code.py
  tests/benchmarks/micro_benchmarks/test_micro_base.py
Labels: benchmarks, micro-benchmarks

#73 Setup - Add lint for cpp sources
  .clang-format
  .editorconfig
  .github/workflows/lint.yml
  Makefile
Labels: CI/CD

#72 Benchmarks: Add Feature - Add script to build all cmake benchmark projects.
  superbench/benchmarks/build.sh
Labels: micro-benchmarks

#70 CI/CD - Add GitHub Action to build and push image
  .github/workflows/build-image.yml
  dockerfile/cuda11.1.1.dockerfile
Labels: CI/CD

#68 CLI - Refine CLI handlers
  setup.py
  superbench/cli/_handler.py
  superbench/common/utils/file_handler.py
  superbench/executor/executor.py
  tests/cli/test_handler.py
  tests/cli/test_sb.py
  tests/executor/test_executor.py
Labels: CLI

#76 Benchmarks: Build Pipeline - Call build script when setup environment.
  .azure-pipelines/cuda-unit-test.yml
  Makefile
  dockerfile/cuda11.1.1.dockerfile
Labels: benchmarks

#71 Benchmarks: Add Benchmark - Add the source code of cuda kernel launch overhead benchmark.
  .azure-pipelines/cuda-unit-test.yml
  .clang-format
  superbench/benchmarks/micro_benchmarks/cuda_common.cmake
  superbench/benchmarks/micro_benchmarks/kernel_launch_overhead/CMakeLists.txt
  superbench/benchmarks/micro_benchmarks/kernel_launch_overhead/cuda_kernel_launch.cu
Labels: benchmarks, micro-benchmarks

#75 Benchmarks: Code Revision - revise CNN example settings and revise ModelBenchmark to expose interface of pin memory
  examples/benchmarks/pytorch_cnn.py
  superbench/benchmarks/model_benchmarks/model_base.py
  superbench/benchmarks/model_benchmarks/pytorch_base.py
  tests/benchmarks/model_benchmarks/test_model_base.py
Labels: benchmarks, model-benchmarks

#74 Benchmarks: Add Benchmark - Add kernel launch overhead benchmark.
  examples/benchmarks/kernel_launch_overhead.py
  superbench/benchmarks/micro_benchmarks/__init__.py
  superbench/benchmarks/micro_benchmarks/kernel_launch_overhead.py
  tests/benchmarks/micro_benchmarks/test_kernel_launch_overhead.py
Labels: micro-benchmarks

#69 Runner - Implement ansible client and runner
  .azure-pipelines/cpu-unit-test.yml
  .azure-pipelines/cuda-unit-test.yml
  Makefile
  README.md
  setup.py
  superbench/runner/ansible.py
  superbench/runner/playbooks/check_env.yaml
  superbench/runner/playbooks/deploy.yaml
  superbench/runner/runner.py
  superbench/runner/templates/ssh_config.j2
  tests/runner/test_ansible.py
Labels: runner

#79 Docs - Update README file on main page
  README.md
  imgs/bar.png
  imgs/superbench_structure.png
Labels: documentation

#82 CI/CD - Add integration tests for Ansible playbooks
  .azure-pipelines/ansible-integration-test.yml
  superbench/runner/playbooks/deploy.yaml
  superbench/runner/runner.py
  tests/ansible/Vagrantfile
  tests/ansible/hosts.ini
  tests/ansible/test.sh
  tests/ansible/tests/test_check_env.yaml
  tests/ansible/tests/test_deploy.yaml
Labels: CI/CD

#84 CI/CD - Reorder cuda test pipeline
  .azure-pipelines/cuda-unit-test.yml
Labels: CI/CD

#77 Benchmarks: Add benchmark - add source code of cublas function micro benchmark
  superbench/benchmarks/micro_benchmarks/cublas_function/CMakeLists.txt
  superbench/benchmarks/micro_benchmarks/cublas_function/cublas_benchmark.h
  superbench/benchmarks/micro_benchmarks/cublas_function/cublas_function.h
  superbench/benchmarks/micro_benchmarks/cublas_function/cublas_function_helper.h
  superbench/benchmarks/micro_benchmarks/cublas_function/cublas_helper.cpp
  superbench/benchmarks/micro_benchmarks/cublas_function/cublas_helper.h
  superbench/benchmarks/micro_benchmarks/cublas_function/cublas_test.cpp
Labels: micro-benchmarks

#81 Runner - Support torch.distributed mode in runner
  superbench/config/default.yaml
  superbench/runner/runner.py
  tests/cli/test_sb.py
  tests/runner/test_runner.py
Labels: runner

#86 Executor - Save benchmark results to file
  superbench/executor/executor.py
  tests/executor/test_executor.py
Labels: executor
