Repository microsoft/superbenchmark, pull requests merged in 2021-12, with the labels that each got.

#250 Benchmark: Replace `-c` argument with `-N` for `numactl` in Configuration
  superbench/config/azure_ndv4.yaml
  superbench/config/default.yaml
  tests/runner/test_runner.py
Labels: benchmarks

#247 Benchmarks: Add Feature - Add 'ignore_invalid' option when register benchmarks.
  superbench/benchmarks/base.py
  superbench/benchmarks/registry.py
  tests/benchmarks/test_registry.py
Labels: enhancement, benchmarks

#255 Benchmarks - Add config file for NDm A100 v4
  superbench/config/azure_ndmv4.yaml
Labels: benchmarks, configuration

#249 Docs - Add doc for data diagnosis
  docs/user-tutorial/data-diagnosis.md
  website/sidebars.js
Labels: documentation

#256 Benchmarks: Add Feature - Add return_code metric into result
  superbench/benchmarks/base.py
  superbench/benchmarks/result.py
  tests/benchmarks/micro_benchmarks/test_computation_communication_overlap.py
  tests/benchmarks/micro_benchmarks/test_cublas_function.py
  tests/benchmarks/micro_benchmarks/test_cudnn_function.py
  tests/benchmarks/micro_benchmarks/test_disk_performance.py
  tests/benchmarks/micro_benchmarks/test_gpcnet_performance.py
  tests/benchmarks/micro_benchmarks/test_gpu_copy_bw_performance.py
  tests/benchmarks/micro_benchmarks/test_tensorrt_inference_performance.py
  tests/benchmarks/model_benchmarks/test_model_base.py
  tests/benchmarks/test_registry.py
  tests/benchmarks/test_result.py
Labels: enhancement, benchmarks

#258 Bug - Fix issues for distributed runs
  superbench/config/amd_mi100_hpe.yaml
  superbench/config/amd_mi100_z53.yaml
  superbench/config/azure_ndmv4.yaml
  superbench/config/azure_ndv4.yaml
  superbench/config/default.yaml
  superbench/executor/executor.py
  superbench/runner/ansible.py
  superbench/runner/playbooks/deploy.yaml
  superbench/runner/playbooks/fetch_results.yaml
  superbench/runner/runner.py
Labels: bug

#252 Benchmarks: Unify metric names of benchmarks
  docs/design-docs/benchmarks.md
  docs/user-tutorial/benchmarks/docker-benchmarks.md
  docs/user-tutorial/benchmarks/micro-benchmarks.md
  docs/user-tutorial/benchmarks/model-benchmarks.md
  superbench/benchmarks/docker_benchmarks/rocm_onnxruntime_performance.py
  superbench/benchmarks/micro_benchmarks/computation_communication_overlap.py
  superbench/benchmarks/micro_benchmarks/cuda_gemm_flops_performance.py
  superbench/benchmarks/micro_benchmarks/disk_performance.py
  superbench/benchmarks/micro_benchmarks/gemm_flops_performance_base.py
  superbench/benchmarks/micro_benchmarks/gpcnet_performance.py
  superbench/benchmarks/micro_benchmarks/gpu_copy_bw_performance.py
  superbench/benchmarks/micro_benchmarks/ib_loopback_performance.py
  superbench/benchmarks/micro_benchmarks/ib_validation_performance.py
  superbench/benchmarks/micro_benchmarks/kernel_launch_overhead.py
  superbench/benchmarks/micro_benchmarks/memory_bw_performance_base.py
  superbench/benchmarks/micro_benchmarks/rocm_gemm_flops_performance.py
  superbench/benchmarks/micro_benchmarks/rocm_memory_bw_performance.py
  superbench/benchmarks/micro_benchmarks/sharding_matmul.py
  superbench/benchmarks/micro_benchmarks/tcp_connectivity.py
  superbench/benchmarks/micro_benchmarks/tensorrt_inference_performance.py
  superbench/benchmarks/model_benchmarks/model_base.py
  tests/benchmarks/docker_benchmarks/test_rocm_onnxruntime_performance.py
  tests/benchmarks/micro_benchmarks/test_cuda_gemm_flops_performance.py
  tests/benchmarks/micro_benchmarks/test_cuda_memory_bw_performance.py
  tests/benchmarks/micro_benchmarks/test_disk_performance.py
  tests/benchmarks/micro_benchmarks/test_gemm_flops_performance_base.py
  tests/benchmarks/micro_benchmarks/test_gpcnet_performance.py
  tests/benchmarks/micro_benchmarks/test_gpu_copy_bw_performance.py
  tests/benchmarks/micro_benchmarks/test_ib_loopback_performance.py
  tests/benchmarks/micro_benchmarks/test_ib_traffic_performance.py
  tests/benchmarks/micro_benchmarks/test_kernel_launch_overhead.py
  tests/benchmarks/micro_benchmarks/test_matmul.py
  tests/benchmarks/micro_benchmarks/test_memory_bw_performance_base.py
  tests/benchmarks/micro_benchmarks/test_rocm_gemm_flops_performance.py
  tests/benchmarks/micro_benchmarks/test_rocm_memory_bw_performance.py
  tests/benchmarks/micro_benchmarks/test_sharding_matmul.py
  tests/benchmarks/micro_benchmarks/test_tcp_connectivity.py
  tests/benchmarks/micro_benchmarks/test_tensorrt_inference_performance.py
  tests/benchmarks/model_benchmarks/test_model_base.py
  tests/benchmarks/model_benchmarks/test_pytorch_base.py
  tests/benchmarks/model_benchmarks/test_pytorch_bert.py
  tests/benchmarks/model_benchmarks/test_pytorch_cnn.py
  tests/benchmarks/model_benchmarks/test_pytorch_gpt2.py
  tests/benchmarks/model_benchmarks/test_pytorch_lstm.py
Labels: documentation

#260 CLI - Integrate data diagnosis
  superbench/cli/_commands.py
  superbench/cli/_help.py
  superbench/cli/_result_handler.py
  tests/cli/test_sb.py
Labels: CLI

#261 Benchmarks: Fix Bug - Set reduce_op type for metirc return_code
  superbench/benchmarks/result.py
  tests/benchmarks/model_benchmarks/test_model_base.py
  tests/benchmarks/test_registry.py
  tests/benchmarks/test_result.py
Labels: bug, benchmarks

#259 Monitor: Integration - Integrate monitor into Superbench
  docs/superbench-config.mdx
  superbench/benchmarks/reducer.py
  superbench/config/azure_ndv4.yaml
  superbench/config/default.yaml
  superbench/executor/executor.py
  superbench/monitor/monitor.py
  superbench/monitor/record.py
  superbench/runner/runner.py
  tests/data/monitor/monitor.jsonl
  tests/runner/test_runner.py
Labels: monitor

#245 Benchmarks: Add Benchmark - Add ONNXRuntime inference benchmark based on ORT python API
  .azure-pipelines/cuda-unit-test.yml
  dockerfile/cuda11.1.1.dockerfile
  dockerfile/rocm4.0-pytorch1.7.0.dockerfile
  dockerfile/rocm4.2-pytorch1.7.0.dockerfile
  docs/user-tutorial/benchmarks/micro-benchmarks.md
  examples/benchmarks/ort_inference_performance.py
  setup.py
  superbench/benchmarks/micro_benchmarks/__init__.py
  superbench/benchmarks/micro_benchmarks/ort_inference_performance.py
  superbench/config/amd_mi100_hpe.yaml
  superbench/config/amd_mi100_z53.yaml
  superbench/config/azure_ndv4.yaml
  superbench/config/default.yaml
  tests/benchmarks/micro_benchmarks/test_ort_inference_performance.py
Labels: benchmarks

#262 Docs - Add a small note for using release container version
  docs/getting-started/run-superbench.md
Labels: documentation

#216 Benchmarks: Add Benchmark - Add mlc benchmark to superbench (#182)
  dockerfile/cuda11.1.1.dockerfile
  dockerfile/rocm4.0-pytorch1.7.0.dockerfile
  dockerfile/rocm4.2-pytorch1.7.0.dockerfile
  examples/benchmarks/cpu_memory_bw_latency_performance.py
  superbench/benchmarks/micro_benchmarks/__init__.py
  superbench/benchmarks/micro_benchmarks/cpu_memory_bw_latency_performance.py
  superbench/config/amd_mi100_hpe.yaml
  superbench/config/amd_mi100_z53.yaml
  superbench/config/azure_ndmv4.yaml
  superbench/config/azure_ndv4.yaml
  superbench/config/default.yaml
  tests/benchmarks/micro_benchmarks/test_cpu_memory_bw_latency_performance.py
Labels: benchmarks, micro-benchmarks

#263 Benchmarks: Fix Comment - Correct benchmark name in test_gpu_copy_bw_performance.py
  tests/benchmarks/micro_benchmarks/test_gpu_copy_bw_performance.py
Labels: bug, benchmarks, micro-benchmarks

#264 Docs - Add benchmark metrics for cpu-memory-bw-latency
  docs/user-tutorial/benchmarks/micro-benchmarks.md
  superbench/benchmarks/micro_benchmarks/cpu_memory_bw_latency_performance.py
  tests/benchmarks/micro_benchmarks/test_cpu_memory_bw_latency_performance.py
Labels: documentation

#254 Benchmarks - Add transformers for TensorRT inference
  docs/user-tutorial/benchmarks/micro-benchmarks.md
  superbench/benchmarks/micro_benchmarks/_export_torch_to_onnx.py
  superbench/benchmarks/micro_benchmarks/tensorrt_inference_performance.py
  superbench/benchmarks/model_benchmarks/pytorch_lstm.py
  tests/benchmarks/micro_benchmarks/test_tensorrt_inference_performance.py
Labels: benchmarks, micro-benchmarks

#265 Docs - Update docs for monitor.
  docs/design-docs/overview.md
  docs/user-tutorial/monitor.md
  website/sidebars.js
Labels: documentation, monitor

#266 Docs - Add usage for data diagnosis
  docs/cli.md
  docs/user-tutorial/data-diagnosis.md
Labels: documentation

#267 Bug - Fix issues for Ansible and benchmarks
  superbench/benchmarks/micro_benchmarks/_export_torch_to_onnx.py
  superbench/runner/ansible.py
  superbench/runner/playbooks/fetch_results.yaml
  superbench/runner/runner.py
  tests/ansible/tests/test_deploy.yaml
  tests/runner/test_ansible.py
Labels: bug

#268 Tests - Refine test cases for microbenchmark
  tests/benchmarks/micro_benchmarks/test_cpu_memory_bw_latency_performance.py
  tests/benchmarks/micro_benchmarks/test_cuda_gemm_flops_performance.py
  tests/benchmarks/micro_benchmarks/test_cuda_memory_bw_performance.py
  tests/benchmarks/micro_benchmarks/test_cuda_nccl_bw_performance.py
  tests/benchmarks/micro_benchmarks/test_disk_performance.py
  tests/benchmarks/micro_benchmarks/test_gpcnet_performance.py
  tests/benchmarks/micro_benchmarks/test_gpu_copy_bw_performance.py
  tests/benchmarks/micro_benchmarks/test_ib_loopback_performance.py
  tests/benchmarks/micro_benchmarks/test_ib_traffic_performance.py
  tests/benchmarks/micro_benchmarks/test_rocm_gemm_flops_performance.py
  tests/benchmarks/micro_benchmarks/test_rocm_memory_bw_performance.py
  tests/benchmarks/micro_benchmarks/test_tensorrt_inference_performance.py
  tests/data/cuda_memory_d2d_bw.log
  tests/data/cuda_memory_d2h_bw.log
  tests/data/cuda_memory_h2d_bw.log
  tests/data/disk_performance.log
  tests/data/gpcnet_network_load.log
  tests/data/gpcnet_network_load_error.log
  tests/data/gpcnet_network_test.log
  tests/data/gpcnet_network_test_error.log
  tests/data/ib_loopback_8M_size.log
  tests/data/ib_loopback_all_sizes.log
  tests/data/nccl_allgather.log
  tests/data/nccl_allreduce.log
  tests/data/nccl_alltoall.log
  tests/data/nccl_broadcast.log
  tests/data/nccl_reduce.log
  tests/data/nccl_reducescatter.log
  tests/data/rocm_memory_d2h_bw.log
  tests/data/rocm_memory_h2d_bw.log
  tests/helper/testcase.py
Labels: test

#269 Bug - Build openmpi with ucx support in rocm dockerfiles
  dockerfile/rocm4.0-pytorch1.7.0.dockerfile
  dockerfile/rocm4.2-pytorch1.7.0.dockerfile
Labels: bug, ROCm

#272 Bug - Fix fio build issue
  third_party/Makefile
Labels: bug, benchmarks, micro-benchmarks

#271 Docs - Unify metric and add doc for cublas and cudnn functions
  docs/user-tutorial/benchmarks/micro-benchmarks.md
  superbench/benchmarks/micro_benchmarks/cublas_function.py
  superbench/benchmarks/micro_benchmarks/cudnn_function.py
Labels: documentation

#274 Monitor: Revision - Add 'monitor/' prefix to monitor metrics in result summary
  superbench/runner/runner.py
  tests/runner/test_runner.py
Labels: runner, monitor

#273 Bug - Fix bugs in data diagnosis
  superbench/analyzer/data_diagnosis.py
  tests/analyzer/test_data_analysis.py
  tests/analyzer/test_data_diagnosis.py
  tests/data/diagnosis_summary.jsonl
  tests/data/diagnosis_summary.xlsx
Labels: bug, tool

#270 Bug - Fix issue that the root mpi rank may not be the first in the hostfile
  superbench/runner/ansible.py
  tests/runner/test_ansible.py
Labels: bug, runner

#276 Benchmarks: Configuration - Update inference and network benchmarks in configs
  superbench/config/amd_mi100_hpe.yaml
  superbench/config/azure_ndmv4.yaml
  superbench/config/azure_ndv4.yaml
  superbench/config/default.yaml
Labels: benchmarks, configuration

#277 Docs - Upgrade version and release note
  README.md
  docs/getting-started/installation.mdx
  docs/getting-started/run-superbench.md
  docs/superbench-config.mdx
  docs/user-tutorial/container-images.mdx
  docs/user-tutorial/data-diagnosis.md
  setup.py
  superbench/__init__.py
  superbench/config/amd_mi100_hpe.yaml
  superbench/config/amd_mi100_z53.yaml
  superbench/config/azure_ndmv4.yaml
  superbench/config/azure_ndv4.yaml
  superbench/config/default.yaml
  tests/analyzer/test_rules.yaml
  website/blog/2021-12-24-release-0-4.md
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
Labels: documentation, release
