Repository microsoft/superbenchmark, pull requests merged in 2022-01, with the labels that each got.

#279 CLI - Add command sb benchmark [list,list-parameters]
  docs/cli.md
  superbench/benchmarks/base.py
  superbench/cli/_benchmark_handler.py
  superbench/cli/_commands.py
  superbench/cli/_help.py
  tests/benchmarks/model_benchmarks/test_model_base.py
  tests/benchmarks/test_registry.py
  tests/cli/test_sb.py
Labels: CLI

#283 Benchmarks: Add Feature - Add percentile metrics for ort and pytorch inference benchmarks
  docs/user-tutorial/benchmarks/micro-benchmarks.md
  docs/user-tutorial/benchmarks/model-benchmarks.md
  setup.py
  superbench/benchmarks/base.py
  superbench/benchmarks/micro_benchmarks/micro_base.py
  superbench/benchmarks/micro_benchmarks/ort_inference_performance.py
  superbench/benchmarks/model_benchmarks/model_base.py
  tests/benchmarks/micro_benchmarks/test_micro_base.py
  tests/benchmarks/model_benchmarks/test_model_base.py
Labels: benchmarks, model-benchmarks

#290 Bug: Fix code incesure issue of integer overflow in cublas function
  superbench/benchmarks/micro_benchmarks/cublas_function/cublas_helper.cpp
Labels: bug

#291 Bug: Fix code insecure issue that binds a socket to all network interfaces
  superbench/common/utils/network.py
Labels: bug

#284 Config - Update benchmark naming to support annotations
  docs/superbench-config.mdx
  docs/user-tutorial/benchmarks/model-benchmarks.md
  superbench/executor/executor.py
  superbench/runner/runner.py
  tests/executor/test_executor.py
Labels: documentation, configuration

#292 Config - Disable disk-benchmark in ndmv4.yaml and change batch size to 1 in default.yaml
  superbench/config/azure_ndmv4.yaml
  superbench/config/azure_ndv4.yaml
  superbench/config/default.yaml
Labels: configuration

#288 Benchmarks: Add Feature - Add timeout feature for each benchmark.
  docs/superbench-config.mdx
  superbench/runner/runner.py
  tests/runner/test_runner.py
Labels: runner

#287 Benchmarks: Add Feature - Sync the E2E training results among all workers for each step.
  superbench/benchmarks/model_benchmarks/model_base.py
  superbench/benchmarks/model_benchmarks/pytorch_base.py
  superbench/runner/runner.py
  tests/benchmarks/model_benchmarks/test_model_base.py
  tests/runner/test_runner.py
Labels: benchmarks

#296 Benchmarks: Fix Bug - Fix GPU scan logic in gpu_copy
  superbench/benchmarks/micro_benchmarks/gpu_copy_performance/gpu_copy.cu
Labels: bug, benchmarks, micro-benchmarks

#295 Config - Support customized env for all modes
  docs/superbench-config.mdx
  superbench/runner/runner.py
  tests/runner/test_runner.py
Labels: runner, configuration

#294 Benchmarks - Support T4 and A10 in GEMM benchmark
  superbench/benchmarks/micro_benchmarks/cuda_gemm_flops_performance.py
  tests/benchmarks/micro_benchmarks/test_cuda_gemm_flops_performance.py
  third_party/Makefile
Labels: benchmarks, micro-benchmarks

#297 Bug - fix typo of format
  docs/cli.md
  docs/user-tutorial/data-diagnosis.md
  superbench/cli/_help.py
Labels: bug
