Repository microsoft/superbenchmark, pull requests merged in 2022-10, with the labels that each got.

#414 Benchmarks - Add support to allow list of custom config string in cudnn-functions and cublas-functions
  .github/workflows/codeql-analysis.yml
  setup.py
  superbench/benchmarks/micro_benchmarks/cublas_function.py
  superbench/benchmarks/micro_benchmarks/cudnn_function.py
  tests/benchmarks/micro_benchmarks/test_cublas_function.py
  tests/benchmarks/micro_benchmarks/test_cudnn_function.py
Labels: benchmarks, micro-benchmarks

#418 CI/CD - Update Codecov config
  .codecov.yml
Labels: CI/CD

#427 CLI - Update version to include revision hash and date
  .dockerignore
  dockerfile/cuda11.1.1.dockerfile
  dockerfile/rocm5.0.x.dockerfile
  dockerfile/rocm5.1.x.dockerfile
  setup.py
  superbench/cli/_handler.py
  tests/cli/test_sb.py
Labels: CLI
