Repository microsoft/superbenchmark, pull requests merged in 2022-06, with the labels that each got.

#355 Analyzer - Fix bugs in data diagnosis
  superbench/analyzer/data_diagnosis.py
  superbench/analyzer/file_handler.py
  tests/data/diagnosis_summary.json
Labels: bug

#358 Support `sb run` on host directly without Docker
  docs/cli.md
  docs/getting-started/run-superbench.md
  setup.py
  superbench/benchmarks/build.sh
  superbench/cli/_commands.py
  superbench/cli/_handler.py
  superbench/cli/_help.py
  superbench/runner/playbooks/check_env.yaml
  superbench/runner/runner.py
  tests/cli/test_sb.py
  tests/runner/test_runner.py
Labels: CLI, runner

#360 Fix cmake and build issues
  dockerfile/cuda11.1.1.dockerfile
  dockerfile/rocm4.0-pytorch1.7.0.dockerfile
  dockerfile/rocm4.2-pytorch1.7.0.dockerfile
  dockerfile/rocm5.0-pytorch1.9.0.dockerfile
  dockerfile/rocm5.0.1-pytorch1.9.0.dockerfile
  dockerfile/rocm5.1.1-pytorch1.10.0.dockerfile
  superbench/benchmarks/micro_benchmarks/ib_validation_performance/CMakeLists.txt
  third_party/Makefile
Labels: dependencies

#361 Update ROCm Dockerfile
  .github/workflows/build-image.yml
  dockerfile/rocm4.0-pytorch1.7.0.dockerfile
  dockerfile/rocm5.0-pytorch1.9.0.dockerfile
  dockerfile/rocm5.0.1-pytorch1.9.0.dockerfile
  dockerfile/rocm5.0.x.dockerfile
  dockerfile/rocm5.1.x.dockerfile
  third_party/Makefile
Labels: CI/CD, ROCm

#362 Runner - Fix sudo issue when running without Docker
  superbench/runner/runner.py
Labels: runner

#363 Support multiple IB/GPU in ib validation
  dockerfile/cuda11.1.1.dockerfile
  dockerfile/rocm5.0.x.dockerfile
  dockerfile/rocm5.1.x.dockerfile
  docs/user-tutorial/benchmarks/micro-benchmarks.md
  superbench/benchmarks/micro_benchmarks/ib_validation_performance.py
  superbench/benchmarks/micro_benchmarks/ib_validation_performance/ib_validation_performance.cc
  superbench/config/azure_ndmv4.yaml
  superbench/config/azure_ndv4.yaml
  superbench/config/default.yaml
  superbench/runner/playbooks/check_env.yaml
  superbench/runner/runner.py
  tests/benchmarks/micro_benchmarks/test_ib_traffic_performance.py
Labels: benchmarks

#364 Dockerfile - Fix incorrect ulimit config
  dockerfile/cuda11.1.1.dockerfile
  dockerfile/rocm5.0.x.dockerfile
  dockerfile/rocm5.1.x.dockerfile
Labels: bug

#369 Fix issues in ib loopback benchmark
  docs/user-tutorial/benchmarks/micro-benchmarks.md
  superbench/benchmarks/micro_benchmarks/ib_loopback_performance.py
  tests/benchmarks/micro_benchmarks/test_ib_loopback_performance.py
Labels: bug, benchmarks
