Repository microsoft/superbenchmark, pull requests merged in 2022-11, with the labels that each got.

#425 CLI - Add non-zero return code for `sb [deploy,run]`
  superbench/cli/_handler.py
  superbench/runner/ansible.py
  superbench/runner/runner.py
  tests/cli/test_sb.py
  tests/runner/test_runner.py
Labels: CLI

#432 Setup update typing-extensions version
  setup.py
Labels: dependencies

#430 Runner - support 'pattern' in 'mpi' mode to run tasks in parallel
  docs/superbench-config.mdx
  setup.py
  superbench/common/utils/__init__.py
  superbench/common/utils/gen_traffic_pattern_config.py
  superbench/runner/playbooks/check_env.yaml
  superbench/runner/runner.py
  tests/common/test_gen_tarffic_pattern_config.py
  tests/runner/test_runner.py
Labels: runner
