Repository microsoft/superbenchmark, pull requests merged in 2022-02, with the labels that each got.

#298 Benchmarks: Revise Code - Reduce result variance in gpu_copy benchmark
  superbench/benchmarks/micro_benchmarks/gpu_copy_bw_performance.py
  superbench/benchmarks/micro_benchmarks/gpu_copy_performance/gpu_copy.cu
  tests/benchmarks/micro_benchmarks/test_gpu_copy_bw_performance.py
Labels: benchmarks, micro-benchmarks

#301 Benchmarks: Revise Code - Make data checking in gpu_copy optional
  examples/benchmarks/gpu_copy_bw_performance.py
  superbench/benchmarks/micro_benchmarks/gpu_copy_bw_performance.py
  superbench/benchmarks/micro_benchmarks/gpu_copy_performance/gpu_copy.cu
  superbench/config/amd_mi100_hpe.yaml
  superbench/config/amd_mi100_z53.yaml
  superbench/config/azure_ndmv4.yaml
  superbench/config/azure_ndv4.yaml
  superbench/config/default.yaml
  tests/benchmarks/micro_benchmarks/test_gpu_copy_bw_performance.py
Labels: enhancement, micro-benchmarks

#299 Benchmarks: Add Feature - Add GDR-only nccl-tests for Nvidia machines
  .github/workflows/build-image.yml
  dockerfile/cuda11.1.1.dockerfile
  superbench/config/azure_ndmv4.yaml
  superbench/config/azure_ndv4.yaml
  superbench/config/default.yaml
Labels: benchmarks, micro-benchmarks

#302 Benchmarks: Revise Code - Eliminate NUMA binding for device-to-device tests in gpu_copy
  docs/user-tutorial/benchmarks/micro-benchmarks.md
  superbench/benchmarks/micro_benchmarks/gpu_copy_performance/gpu_copy.cu
  tests/data/gpu_copy_bw_performance.log
Labels: enhancement, micro-benchmarks

#305 Benchmarks: Revise Code - Add support for pytorch>=1.9.0 of init_process_group
  superbench/benchmarks/model_benchmarks/pytorch_base.py
Labels: enhancement, benchmarks

#310 Bug - Fix env file path
  superbench/runner/runner.py
Labels: bug

#289 Analyzer: Add Feature - Add multi-rules feature for data diagnosis
  docs/user-tutorial/data-diagnosis.md
  superbench/analyzer/data_diagnosis.py
  superbench/analyzer/diagnosis_rule_op.py
  tests/analyzer/test_baseline.json
  tests/analyzer/test_data_diagnosis.py
  tests/analyzer/test_results.jsonl
  tests/analyzer/test_ruleop.py
Labels: tool

#311 Config - Add T4 configurations with inference benchmark
  superbench/config/azure/inference/nc64as_t4_v3.yaml
Labels: configuration

#315 Bug - fix HIP_ARCHITECTURES is empty issue in cmake>=3.21.0
  superbench/benchmarks/micro_benchmarks/rocm_common.cmake
Labels: bug

#316 Benchmarks: Build Pipeline - Make gpcnet only for cuda
  third_party/Makefile
Labels: bug, benchmarks

#317 Bug Fix - Fix P2P detection in gpu_copy
  superbench/benchmarks/micro_benchmarks/gpu_copy_performance/gpu_copy.cu
Labels: bug, micro-benchmarks

#307 Dockerfile - Add rocm5.0 dockerfile
  .github/workflows/build-image.yml
  dockerfile/rocm5.0-pytorch1.9.0.dockerfile
Labels: containers, ROCm

#319 Dockerfile - Add dockerfile for rocm5.0.1
  .github/workflows/build-image.yml
  dockerfile/rocm5.0.1-pytorch1.9.0.dockerfile
Labels: containers, ROCm
