Repository microsoft/superbenchmark, pull requests merged in 2022-09, with the labels that each got.

#403 Analyzer - Update error handling to support exit code of sb result diagnosis
  superbench/analyzer/data_diagnosis.py
  superbench/analyzer/file_handler.py
  superbench/analyzer/rule_base.py
  tests/analyzer/test_data_diagnosis.py
  tests/analyzer/test_file_handler.py
  tests/analyzer/test_result_summary.py
  tests/analyzer/test_rulebase.py
Labels: bug, tool

#399 Analyzer - Make baseline file optional in data diagnosis and fix bugs
  docs/cli.md
  docs/user-tutorial/data-diagnosis.md
  superbench/analyzer/data_diagnosis.py
  superbench/analyzer/diagnosis_rule_op.py
  superbench/analyzer/file_handler.py
  superbench/cli/_result_handler.py
  tests/analyzer/test_data_diagnosis.py
  tests/analyzer/test_file_handler.py
  tests/analyzer/test_rulebase.py
  tests/analyzer/test_ruleop.py
  tests/analyzer/test_rules_without_baseline.yaml
  tests/cli/test_sb.py
  tests/data/diagnosis_summary.html
  tests/data/diagnosis_summary.json
  tests/data/diagnosis_summary.md
  tests/data/diagnosis_summary_json.json
Labels: bug, tool

#405 Enhance timeout cleanup to avoid possible hanging
  superbench/benchmarks/base.py
  superbench/runner/playbooks/cleanup.yaml
  superbench/runner/runner.py
Labels: benchmarks, runner

#402 Auto generate ibstat file by pssh
  setup.py
  superbench/benchmarks/micro_benchmarks/ib_validation_performance.py
  superbench/common/utils/topo_aware.py
  tests/data/ib_traffic_topo_aware_ibstat.txt
Labels: bug, benchmarks

#406 Analyzer - Format int type and unify empty value to N/A in diagnosis output files
  docs/user-tutorial/data-diagnosis.md
  superbench/analyzer/data_diagnosis.py
  tests/analyzer/test_data_diagnosis.py
  tests/data/diagnosis_summary.html
  tests/data/diagnosis_summary.json
  tests/data/diagnosis_summary.jsonl
  tests/data/diagnosis_summary.md
  tests/data/diagnosis_summary_json.json
Labels: tool

#407 Docs - Upgrade version and release note
  README.md
  docs/getting-started/installation.mdx
  docs/getting-started/run-superbench.md
  docs/superbench-config.mdx
  docs/user-tutorial/container-images.mdx
  docs/user-tutorial/data-diagnosis.md
  docs/user-tutorial/result-summary.md
  superbench/__init__.py
  superbench/config/amd_mi100_hpe.yaml
  superbench/config/amd_mi100_z53.yaml
  superbench/config/azure/inference/standard_nc64as_t4_v3.yaml
  superbench/config/azure/inference/standard_nc96ads_a100_v4.yaml
  superbench/config/azure/inference/standard_nv18ads_a10_v5.yaml
  superbench/config/azure_ndmv4.yaml
  superbench/config/azure_ndv4.yaml
  superbench/config/default.yaml
  website/blog/2022-09-01-release-0-6.md
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
Labels: documentation, release

#408 Docs - Fix issues in document
  docs/getting-started/installation.mdx
  website/blog/2022-09-01-release-0-6.md
Labels: documentation

#409 Release - SuperBench v0.6.0
  README.md
  dockerfile/cuda11.1.1.dockerfile
  dockerfile/rocm5.0.x.dockerfile
  dockerfile/rocm5.1.x.dockerfile
  docs/cli.md
  docs/getting-started/installation.mdx
  docs/getting-started/run-superbench.md
  docs/superbench-config.mdx
  docs/user-tutorial/container-images.mdx
  docs/user-tutorial/data-diagnosis.md
  docs/user-tutorial/result-summary.md
  setup.py
  superbench/__init__.py
  superbench/analyzer/data_diagnosis.py
  superbench/analyzer/diagnosis_rule_op.py
  superbench/analyzer/file_handler.py
  superbench/analyzer/rule_base.py
  superbench/benchmarks/base.py
  superbench/benchmarks/micro_benchmarks/ib_validation_performance.py
  superbench/benchmarks/micro_benchmarks/ib_validation_performance/ib_validation_performance.cc
  superbench/cli/_result_handler.py
  superbench/common/utils/logging.py
  superbench/common/utils/topo_aware.py
  superbench/config/amd_mi100_hpe.yaml
  superbench/config/amd_mi100_z53.yaml
  superbench/config/azure/inference/standard_nc64as_t4_v3.yaml
  superbench/config/azure/inference/standard_nc96ads_a100_v4.yaml
  superbench/config/azure/inference/standard_nv18ads_a10_v5.yaml
  superbench/config/azure_ndmv4.yaml
  superbench/config/azure_ndv4.yaml
  superbench/config/default.yaml
  superbench/runner/playbooks/cleanup.yaml
  superbench/runner/runner.py
  tests/analyzer/test_data_diagnosis.py
  tests/analyzer/test_file_handler.py
  tests/analyzer/test_result_summary.py
  tests/analyzer/test_rulebase.py
  tests/analyzer/test_ruleop.py
  tests/analyzer/test_rules_without_baseline.yaml
  tests/benchmarks/micro_benchmarks/test_cublas_function.py
  tests/benchmarks/micro_benchmarks/test_cudnn_function.py
  tests/benchmarks/micro_benchmarks/test_ib_traffic_performance.py
  tests/cli/test_sb.py
  tests/data/diagnosis_summary.html
  tests/data/diagnosis_summary.json
  tests/data/diagnosis_summary.jsonl
  tests/data/diagnosis_summary.md
  tests/data/diagnosis_summary_json.json
  tests/data/ib_traffic_topo_aware_ibstat.txt
  website/blog/2022-09-01-release-0-6.md
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
Labels: release
