Repository microsoft/superbenchmark, pull requests merged in 2022-12, with the labels that each got.

#447 Runner - Support `pair-wise` pattern in `mpi` mode
  docs/superbench-config.mdx
  superbench/common/utils/__init__.py
  superbench/common/utils/gen_traffic_pattern_config.py
  superbench/runner/runner.py
  tests/common/test_gen_tarffic_pattern_config.py
  tests/common/test_gen_traffic_pattern_config.py
Labels: runner

#453 Benchmarks - Support `pair-wise` pattern in IB validation benchmark
  superbench/benchmarks/micro_benchmarks/ib_validation_performance.py
Labels: benchmarks, micro-benchmarks

#445 Executor - Add stdout logging util module and enable real-time logging flushing in executor
  docs/design-docs/overview.md
  docs/superbench-config.mdx
  superbench/benchmarks/base.py
  superbench/benchmarks/docker_benchmarks/docker_base.py
  superbench/benchmarks/micro_benchmarks/micro_base.py
  superbench/benchmarks/model_benchmarks/model_base.py
  superbench/benchmarks/model_benchmarks/pytorch_bert.py
  superbench/benchmarks/model_benchmarks/pytorch_cnn.py
  superbench/benchmarks/model_benchmarks/pytorch_gpt2.py
  superbench/benchmarks/model_benchmarks/pytorch_lstm.py
  superbench/common/utils/__init__.py
  superbench/common/utils/device_manager.py
  superbench/common/utils/process.py
  superbench/common/utils/stdout_logging.py
  superbench/executor/executor.py
  tests/benchmarks/model_benchmarks/test_model_base.py
  tests/benchmarks/test_registry.py
  tests/common/test_process.py
Labels: enhancement, CI/CD, CLI, executor, runner
