Repository microsoft/superbenchmark, pull requests merged in 2023-04, with the labels that each got.

#502 Monitor - Fix the cgroup version checking logic.
  superbench/monitor/monitor.py
Labels: bug, monitor

#503 Benchmark - Fix matrix size overflow issue in cuBLASLt GEMM
  setup.py
  superbench/benchmarks/micro_benchmarks/cublaslt_gemm/cublaslt_gemm.cu
  superbench/benchmarks/micro_benchmarks/cublaslt_gemm/cublaslt_utils.cc
  superbench/benchmarks/micro_benchmarks/cublaslt_gemm/cublaslt_utils.h
Labels: bug, micro-benchmarks

#505 Revise Code - Fix wrong torch usage in communication wrapper for Distributed Inference Benchmark
  superbench/benchmarks/micro_benchmarks/dist_inference.py
Labels: bug, micro-benchmarks

#504 Analyzer: Fix bug in python3.8 due to pandas api change
  setup.py
  superbench/analyzer/data_analysis.py
  superbench/analyzer/data_diagnosis.py
  superbench/analyzer/result_summary.py
Labels: bug

#506 Bug - Fix bug to get metric from cmd when error happens
  superbench/benchmarks/micro_benchmarks/cudnn_function.py
Labels: bug

#507 Monitor - Collect realtime GPU power when benchmarking.
  superbench/common/utils/device_manager.py
  superbench/monitor/monitor.py
  superbench/monitor/record.py
  superbench/runner/runner.py
  tests/monitor/test_monitor.py
  tests/monitor/test_monitor_record.py
Labels: monitor

#511 Add num_workers argument in model benchmark
  superbench/benchmarks/model_benchmarks/model_base.py
  superbench/benchmarks/model_benchmarks/pytorch_base.py
  tests/benchmarks/model_benchmarks/test_model_base.py
Labels: benchmarks, model-benchmarks

#513 Update cuda11.8 image to cuda12.1 based on nvcr23.03
  .github/workflows/build-image.yml
  dockerfile/cuda12.1.dockerfile
Labels: containers

#515 Doc - Fix wrong unit of cpu-memory-bw-latency in doc
  docs/user-tutorial/benchmarks/micro-benchmarks.md
Labels: documentation

#508 Docs - Upgrade version and release note
  docs/developer-guides/using-docker.mdx
  docs/getting-started/installation.mdx
  docs/getting-started/run-superbench.md
  docs/superbench-config.mdx
  docs/user-tutorial/container-images.mdx
  docs/user-tutorial/data-diagnosis.md
  docs/user-tutorial/result-summary.md
  superbench/__init__.py
  superbench/config/amd_mi100_hpe.yaml
  superbench/config/amd_mi100_z53.yaml
  superbench/config/azure/inference/standard_nc64as_t4_v3.yaml
  superbench/config/azure/inference/standard_nc96ads_a100_v4.yaml
  superbench/config/azure/inference/standard_nv18ads_a10_v5.yaml
  superbench/config/azure_ndmv4.yaml
  superbench/config/azure_ndv4.yaml
  superbench/config/default.yaml
  website/blog/2023-04-14-release-0-8.md
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
Labels: documentation, release

#517 Release - SuperBench v0.8.0
  .github/workflows/build-image.yml
  dockerfile/cuda12.1.dockerfile
  docs/developer-guides/using-docker.mdx
  docs/getting-started/installation.mdx
  docs/getting-started/run-superbench.md
  docs/superbench-config.mdx
  docs/user-tutorial/benchmarks/micro-benchmarks.md
  docs/user-tutorial/container-images.mdx
  docs/user-tutorial/data-diagnosis.md
  docs/user-tutorial/result-summary.md
  superbench/__init__.py
  superbench/analyzer/data_analysis.py
  superbench/analyzer/data_diagnosis.py
  superbench/analyzer/result_summary.py
  superbench/benchmarks/micro_benchmarks/cublaslt_gemm/cublaslt_gemm.cu
  superbench/benchmarks/micro_benchmarks/cublaslt_gemm/cublaslt_utils.cc
  superbench/benchmarks/micro_benchmarks/cublaslt_gemm/cublaslt_utils.h
  superbench/benchmarks/micro_benchmarks/cudnn_function.py
  superbench/benchmarks/micro_benchmarks/dist_inference.py
  superbench/benchmarks/model_benchmarks/model_base.py
  superbench/benchmarks/model_benchmarks/pytorch_base.py
  superbench/common/utils/device_manager.py
  superbench/common/utils/gen_traffic_pattern_config.py
  superbench/config/amd_mi100_hpe.yaml
  superbench/config/amd_mi100_z53.yaml
  superbench/config/azure/inference/standard_nc64as_t4_v3.yaml
  superbench/config/azure/inference/standard_nc96ads_a100_v4.yaml
  superbench/config/azure/inference/standard_nv18ads_a10_v5.yaml
  superbench/config/azure_ndmv4.yaml
  superbench/config/azure_ndv4.yaml
  superbench/config/default.yaml
  superbench/monitor/monitor.py
  superbench/monitor/record.py
  superbench/runner/runner.py
  tests/benchmarks/model_benchmarks/test_model_base.py
  tests/monitor/test_monitor.py
  tests/monitor/test_monitor_record.py
  website/blog/2023-04-14-release-0-8.md
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
Labels: release

#529 Docs - Update version in README
  README.md
Labels: documentation

#522 ModelBenchmarks - Fix early stop logic due to num_steps.
  docs/superbench-config.mdx
  superbench/benchmarks/model_benchmarks/model_base.py
  tests/benchmarks/model_benchmarks/test_model_base.py
Labels: benchmarks, model-benchmarks
