Repository microsoft/superbenchmark, pull requests merged in 2023-01, with the labels that each got.

#450 Benchmarks: Micro benchmarks - add source code of correctness check for cublas functions
  superbench/analyzer/diagnosis_rule_op.py
  superbench/analyzer/result_summary.py
  superbench/benchmarks/micro_benchmarks/cublas_function/cublas_benchmark.h
  superbench/benchmarks/micro_benchmarks/cublas_function/cublas_function.h
  superbench/benchmarks/micro_benchmarks/cublas_function/cublas_function_helper.h
Labels: benchmarks, micro-benchmarks

#451 Benchmarks - Add cuBLASLt FP16 and FP8 GEMM micro-benchmark
  superbench/benchmarks/micro_benchmarks/cublaslt_fp8_gemm/CMakeLists.txt
  superbench/benchmarks/micro_benchmarks/cublaslt_fp8_gemm/cublaslt_fp8_gemm.cu
  superbench/benchmarks/micro_benchmarks/cublaslt_fp8_gemm/cublaslt_utils.cc
  superbench/benchmarks/micro_benchmarks/cublaslt_fp8_gemm/cublaslt_utils.h
  superbench/benchmarks/micro_benchmarks/cuda_common.cmake
Labels: benchmarks, micro-benchmarks

#452 Benchmarks: Micro benchmarks - Add correctness check in cublas-function benchmark
  superbench/benchmarks/micro_benchmarks/cublas_function.py
  tests/benchmarks/micro_benchmarks/test_cublas_function.py
Labels: benchmarks, micro-benchmarks

#455 Benchmarks - Integrate cublaslt micro-benchmark
  docs/user-tutorial/benchmarks/micro-benchmarks.md
  superbench/benchmarks/micro_benchmarks/__init__.py
  superbench/benchmarks/micro_benchmarks/cublaslt_function.py
  tests/benchmarks/micro_benchmarks/test_cublaslt_function.py
Labels: benchmarks, micro-benchmarks

#456 Support GEMM benchmark on Hopper GPUs
  superbench/benchmarks/micro_benchmarks/cuda_gemm_flops_performance.py
Labels: benchmarks, micro-benchmarks

#437 Runner: Support `topo-aware` and `k-batch` pattern in 'mpi' mode
  docs/superbench-config.mdx
  superbench/common/utils/__init__.py
  superbench/common/utils/gen_traffic_pattern_config.py
  superbench/runner/__init__.py
  superbench/runner/runner.py
  tests/common/test_gen_traffic_pattern_config.py
  tests/data/test.yaml
  tests/runner/test_runner.py
Labels: runner

#446 Benchmarks - Support FP8 in BERT models
  superbench/benchmarks/context.py
  superbench/benchmarks/model_benchmarks/pytorch_bert.py
  tests/benchmarks/model_benchmarks/test_model_base.py
Labels: model-benchmarks

#458 Runner - Generate host groups file in mpi mode
  docs/design-docs/overview.md
  docs/superbench-config.mdx
  superbench/common/utils/__init__.py
  superbench/common/utils/gen_traffic_pattern_config.py
  superbench/runner/runner.py
  tests/common/test_gen_traffic_pattern_config.py
  tests/data/mpi_pattern.txt
Labels: runner

#454 Benchmarks - Support topo-aware, pair-wise, and K-batch pattern in nccl-bw benchmark
  docs/user-tutorial/benchmarks/micro-benchmarks.md
  superbench/benchmarks/micro_benchmarks/cuda_nccl_bw_performance.py
  tests/benchmarks/micro_benchmarks/test_cuda_nccl_bw_performance.py
Labels: benchmarks, micro-benchmarks

#460 Benchmarks - Fix missing include in FP8 benchmark
  superbench/benchmarks/micro_benchmarks/cublaslt_fp8_gemm/cublaslt_utils.h
Labels: bug, micro-benchmarks

#461 Fix bug in TE BERT model
  superbench/benchmarks/model_benchmarks/pytorch_bert.py
Labels: bug, model-benchmarks

#462 Bug: Fix bug for incorrect datatype judgement in cublas-function source code
  superbench/benchmarks/micro_benchmarks/cublas_function/cublas_function.h
  superbench/benchmarks/micro_benchmarks/cublas_function/cublas_function_helper.h
  superbench/benchmarks/micro_benchmarks/cublas_function/cublas_helper.cpp
Labels: bug, micro-benchmarks

#465 Doc - Update benchmark doc
  docs/user-tutorial/benchmarks/micro-benchmarks.md
  docs/user-tutorial/benchmarks/model-benchmarks.md
Labels: bug, documentation

#466 Support `sb deploy` without pulling image
  docs/cli.md
  superbench/cli/_commands.py
  superbench/cli/_handler.py
  superbench/runner/playbooks/deploy.yaml
  superbench/runner/runner.py
  tests/cli/test_sb.py
Labels: CLI

#467 Docs - Upgrade version and release note
  README.md
  docs/getting-started/installation.mdx
  docs/getting-started/run-superbench.md
  docs/superbench-config.mdx
  docs/user-tutorial/container-images.mdx
  docs/user-tutorial/data-diagnosis.md
  docs/user-tutorial/result-summary.md
  superbench/__init__.py
  superbench/config/amd_mi100_hpe.yaml
  superbench/config/amd_mi100_z53.yaml
  superbench/config/azure/inference/standard_nc64as_t4_v3.yaml
  superbench/config/azure/inference/standard_nc96ads_a100_v4.yaml
  superbench/config/azure/inference/standard_nv18ads_a10_v5.yaml
  superbench/config/azure_ndmv4.yaml
  superbench/config/azure_ndv4.yaml
  superbench/config/default.yaml
  website/blog/2023-01-20-release-0-7.md
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
Labels: documentation, release

#468 Release - SuperBench v0.7.0
  README.md
  docs/cli.md
  docs/getting-started/installation.mdx
  docs/getting-started/run-superbench.md
  docs/superbench-config.mdx
  docs/user-tutorial/benchmarks/micro-benchmarks.md
  docs/user-tutorial/benchmarks/model-benchmarks.md
  docs/user-tutorial/container-images.mdx
  docs/user-tutorial/data-diagnosis.md
  docs/user-tutorial/result-summary.md
  superbench/__init__.py
  superbench/benchmarks/micro_benchmarks/cublaslt_fp8_gemm/cublaslt_utils.h
  superbench/benchmarks/model_benchmarks/pytorch_bert.py
  superbench/cli/_commands.py
  superbench/cli/_handler.py
  superbench/config/amd_mi100_hpe.yaml
  superbench/config/amd_mi100_z53.yaml
  superbench/config/azure/inference/standard_nc64as_t4_v3.yaml
  superbench/config/azure/inference/standard_nc96ads_a100_v4.yaml
  superbench/config/azure/inference/standard_nv18ads_a10_v5.yaml
  superbench/config/azure_ndmv4.yaml
  superbench/config/azure_ndv4.yaml
  superbench/config/default.yaml
  superbench/runner/playbooks/deploy.yaml
  superbench/runner/runner.py
  tests/cli/test_sb.py
  website/blog/2023-01-20-release-0-7.md
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
Labels: release
