Repository microsoft/superbenchmark, pull requests merged in 2023-12, with the labels that each got.

#582 Benchmarks: Add benchmark: Megatron-LM/Megatron-Deepspeed GPT pretrain benchmark
  dockerfile/cuda11.1.1.dockerfile
  dockerfile/cuda12.2.dockerfile
  dockerfile/rocm5.0.x.dockerfile
  dockerfile/rocm5.1.x.dockerfile
  docs/user-tutorial/benchmarks/model-benchmarks.md
  setup.py
  superbench/benchmarks/model_benchmarks/__init__.py
  superbench/benchmarks/model_benchmarks/megatron_gpt3.py
  superbench/benchmarks/model_benchmarks/model_base.py
  superbench/config/default.yaml
  tests/benchmarks/model_benchmarks/test_megatron_gpt.py
  tests/data/megatron_deepspeed.log
  third_party/Makefile
  third_party/Megatron/requirements.txt
Labels: benchmarks, model-benchmarks

#587 Dockerfile - Upgrade to rocm5.7 dockerfile
  .github/workflows/build-image.yml
  dockerfile/rocm5.7.x.dockerfile
  docs/developer-guides/using-docker.mdx
  setup.py
  superbench/benchmarks/micro_benchmarks/gpu_copy_performance/CMakeLists.txt
  superbench/benchmarks/micro_benchmarks/kernel_launch_overhead/CMakeLists.txt
  superbench/benchmarks/micro_benchmarks/rocm_common.cmake
  third_party/Makefile
Labels: containers

#586 Benchmarks: Microbenchmark - Add distributed inference benchmark cpp implementation
  docs/user-tutorial/benchmarks/micro-benchmarks.md
  superbench/benchmarks/micro_benchmarks/dist_inference.py
  superbench/benchmarks/micro_benchmarks/dist_inference_cpp/CMakeLists.txt
  superbench/benchmarks/micro_benchmarks/dist_inference_cpp/dist_inference.cu
  superbench/config/azure_ndmv4.yaml
  superbench/config/azure_ndv4.yaml
  tests/benchmarks/micro_benchmarks/test_dist_inference.py
  tests/data/dist_inference.log
Labels: benchmarks, micro-benchmarks

#589 Benchmark: Revision - Fix -O2 option passing in gpu_copy ROCm build
  superbench/benchmarks/micro_benchmarks/gpu_copy_performance/CMakeLists.txt
Labels: benchmarks, micro-benchmarks

#590 Benchmarks: Microbenchmark - Support different hipblasLt data types in dist_inference
  superbench/benchmarks/micro_benchmarks/dist_inference_cpp/CMakeLists.txt
  superbench/benchmarks/micro_benchmarks/dist_inference_cpp/dist_inference.cu
Labels: benchmarks, micro-benchmarks

#591 Benchmarks: Microbenchmark - Support in-place for NCCL/RCCL benchmark
  docs/user-tutorial/benchmarks/micro-benchmarks.md
  superbench/benchmarks/micro_benchmarks/cuda_nccl_bw_performance.py
  tests/benchmarks/micro_benchmarks/test_cuda_nccl_bw_performance.py
Labels: benchmarks, micro-benchmarks

#592 Bug Fix - Fix NUMA Domains Swap Issue in NDv4 Topology File
  dockerfile/etc/ndv4-topo.xml
Labels: bug, containers

#595 Benchmarks: Microbenchmark - Add data type option for NCCL and RCCL tests
  superbench/benchmarks/micro_benchmarks/cuda_nccl_bw_performance.py
  tests/benchmarks/micro_benchmarks/test_cuda_nccl_bw_performance.py
Labels: benchmarks, micro-benchmarks

#596 Benchmarks: Bug Fix - Make metrics of dist-inference-cpp aligned with PyTorch version
  superbench/benchmarks/micro_benchmarks/dist_inference.py
  superbench/benchmarks/micro_benchmarks/dist_inference_cpp/dist_inference.cu
  tests/benchmarks/micro_benchmarks/test_dist_inference.py
  tests/data/dist_inference.log
Labels: bug, benchmarks, micro-benchmarks

#597 CI/CD - Add ndv5 topo file
  .github/workflows/build-image.yml
  dockerfile/etc/ndv5-topo.xml
  docs/developer-guides/using-docker.mdx
  docs/getting-started/run-superbench.md
  docs/user-tutorial/container-images.mdx
Labels: CI/CD

#593 Benchmarks: Microbenchmark - Improve AMD GPU P2P performance with fine-grained GPU memory
  docs/user-tutorial/benchmarks/micro-benchmarks.md
  superbench/benchmarks/micro_benchmarks/gpu_copy_performance/CMakeLists.txt
  superbench/benchmarks/micro_benchmarks/gpu_copy_performance/gpu_copy.cu
Labels: benchmarks, micro-benchmarks

#603 Benchmarks: Microbenchmark - Adapt to hipblasLt data type changes
  superbench/benchmarks/micro_benchmarks/dist_inference_cpp/CMakeLists.txt
  superbench/benchmarks/micro_benchmarks/dist_inference_cpp/dist_inference.cu
Labels: benchmarks, micro-benchmarks

#604 Benchmarks: Micro benchmarks - Update hipblaslt metric unit to tflops
  .github/workflows/build-image.yml
  docs/user-tutorial/benchmarks/micro-benchmarks.md
  superbench/benchmarks/micro_benchmarks/hipblaslt_function.py
  tests/benchmarks/micro_benchmarks/test_hipblaslt_function.py
  third_party/Makefile
Labels: benchmarks, micro-benchmarks

#601 Monitor - Upgrade pyrsmi to amdsmi python library.
  dockerfile/rocm5.7.x.dockerfile
  superbench/common/utils/device_manager.py
Labels: monitor

#605 Benchmarks: Micro benchmarks - add fp8 and initialization for hipblaslt benchmark
  superbench/benchmarks/micro_benchmarks/hipblaslt_function.py
  tests/benchmarks/micro_benchmarks/test_hipblaslt_function.py
Labels: benchmarks, micro-benchmarks

#606 Docs - Upgrade version and release note
  docs/getting-started/installation.mdx
  docs/getting-started/run-superbench.md
  docs/superbench-config.mdx
  docs/user-tutorial/data-diagnosis.md
  docs/user-tutorial/result-summary.md
  superbench/__init__.py
  superbench/config/amd_mi100_hpe.yaml
  superbench/config/amd_mi100_z53.yaml
  superbench/config/azure/inference/standard_nc64as_t4_v3.yaml
  superbench/config/azure/inference/standard_nc96ads_a100_v4.yaml
  superbench/config/azure/inference/standard_nv18ads_a10_v5.yaml
  superbench/config/azure_ndmv4.yaml
  superbench/config/azure_ndv4.yaml
  superbench/config/default.yaml
  website/blog/2023-12-31-release-0-10.md
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
Labels: documentation, release
