Repository microsoft/superbenchmark, pull requests merged in 2023-03, with the labels that each got.

#485 Limit ansible_runner version for Python3.6
  setup.py
Labels: dependencies

#483 Pin setuptools version to v65.7.0
  .azure-pipelines/cpu-unit-test.yml
  .azure-pipelines/cuda-unit-test.yml
  dockerfile/rocm5.0.x.dockerfile
  setup.py
Labels: dependencies

#492 Benchmarks - Support tensor core precisions in cublaslt gemm
  superbench/benchmarks/micro_benchmarks/cublaslt_function.py
  superbench/benchmarks/micro_benchmarks/cublaslt_gemm/CMakeLists.txt
  superbench/benchmarks/micro_benchmarks/cublaslt_gemm/cublaslt_gemm.cu
  superbench/benchmarks/micro_benchmarks/cublaslt_gemm/cublaslt_utils.cc
  superbench/benchmarks/micro_benchmarks/cublaslt_gemm/cublaslt_utils.h
Labels: benchmarks, micro-benchmarks

#495 Benchmark - Fix torch.dist init issue with multiple models
  superbench/benchmarks/model_benchmarks/pytorch_base.py
Labels: bug

#482 Adding HPL benchmark
  dockerfile/cuda11.1.1.dockerfile
  dockerfile/cuda11.8.dockerfile
  dockerfile/rocm5.0.x.dockerfile
  dockerfile/rocm5.1.x.dockerfile
  docs/user-tutorial/benchmarks/micro-benchmarks.md
  examples/benchmarks/cpu_hpl_performance.py
  superbench/benchmarks/micro_benchmarks/__init__.py
  superbench/benchmarks/micro_benchmarks/cpu_hpl_performance.py
  tests/benchmarks/micro_benchmarks/test_cpu_hpl_performance.py
  tests/data/hpl_results.log
  third_party/Makefile
  third_party/hpl-tests/Make.Linux_zen3
  third_party/hpl-tests/Make.Linux_zen4
  third_party/hpl-tests/Makefile
  third_party/hpl-tests/bindmem.sh
  third_party/hpl-tests/hpl_run.sh
  third_party/hpl-tests/template_hpl.dat
Labels: benchmarks, micro-benchmarks

#494 Benchmark - Support batch/shape range in cublaslt gemm
  docs/user-tutorial/benchmarks/micro-benchmarks.md
  superbench/benchmarks/micro_benchmarks/cublaslt_function.py
  tests/benchmarks/micro_benchmarks/test_cublaslt_function.py
Labels: enhancement, benchmarks

#491 Monitor - Support cgroup V2 when read system metrics.
  superbench/common/utils/device_manager.py
  superbench/common/utils/process.py
  superbench/monitor/monitor.py
  tests/monitor/test_monitor.py
Labels: bug, monitor

#493 Benchmarks - Add distributed inference benchmark
  docs/user-tutorial/benchmarks/micro-benchmarks.md
  examples/benchmarks/dist_inference.py
  superbench/benchmarks/micro_benchmarks/__init__.py
  superbench/benchmarks/micro_benchmarks/dist_inference.py
  superbench/config/azure_ndmv4.yaml
  superbench/config/azure_ndv4.yaml
  tests/benchmarks/micro_benchmarks/test_dist_inference.py
Labels: benchmarks, micro-benchmarks

#496 Benchmarks - Support TE FP8 in BERT/GPT2 models
  superbench/benchmarks/model_benchmarks/pytorch_base.py
  superbench/benchmarks/model_benchmarks/pytorch_bert.py
  superbench/benchmarks/model_benchmarks/pytorch_gpt2.py
Labels: benchmarks, model-benchmarks

#499 Benchmark - Update TE FP8 model conversion
  superbench/benchmarks/model_benchmarks/pytorch_base.py
Labels: benchmarks, model-benchmarks
