Repository microsoft/superbenchmark, pull requests merged in 2025-06, with the labels that each got.

#712 microbenchmark - CPU Stream Benchmark Revise
  superbench/benchmarks/micro_benchmarks/cpu_stream_performance.py
  tests/benchmarks/micro_benchmarks/test_cpu_stream_performance.py
  third_party/Makefile
  third_party/stream-tests/Makefile
Labels: benchmarks, micro-benchmarks

#719 Benchmark - Add Grace CPU support for CPU Stream.
  examples/benchmarks/cpu_stream_performance.py
  superbench/benchmarks/micro_benchmarks/cpu_stream_performance.py
  tests/benchmarks/micro_benchmarks/test_cpu_stream_performance.py
  tests/data/streamResultNeo.log
  tests/data/streamResultZen.log
Labels: benchmarks, micro-benchmarks

#706 Benchmark - Support autotuning in cublaslt gemm
  examples/benchmarks/cublaslt_function.py
  superbench/benchmarks/micro_benchmarks/cublaslt_function.py
  superbench/benchmarks/micro_benchmarks/cublaslt_gemm/CMakeLists.txt
  superbench/benchmarks/micro_benchmarks/cublaslt_gemm/cublaslt_gemm.cu
  superbench/benchmarks/micro_benchmarks/cublaslt_gemm/cublaslt_utils.cc
  superbench/benchmarks/micro_benchmarks/cublaslt_gemm/cublaslt_utils.h
Labels: enhancement, micro-benchmarks

#679 Benchmarks: Add Mixture of Experts Model
  docs/superbench-config.mdx
  docs/user-tutorial/benchmarks/model-benchmarks.md
  superbench/benchmarks/micro_benchmarks/_export_torch_to_onnx.py
  superbench/benchmarks/model_benchmarks/__init__.py
  superbench/benchmarks/model_benchmarks/pytorch_mixtral.py
  superbench/benchmarks/model_benchmarks/pytorch_mixtral_impl.py
  tests/benchmarks/model_benchmarks/test_pytorch_mixtral.py
Labels: benchmarks, micro-benchmarks, model-benchmarks
